body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(252, 217, 220) 0%, #e8e6e6 25%, rgb(252, 217, 220), #e8e6e6 100%);
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.outer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container {
    background: #fff;
    width: 90%;
    max-width: 750px;
    padding: 0;     
    box-shadow: 0 0 10px black;
}



h1 {
    background: rgb(181,72,93);
    color: #ffffff;
    text-align: center;
    padding: 35px;
    margin: 0;  
}


h2 {
    color: navy;
    border-bottom: 1.5px solid #f60505;
    margin-top: 25px;
}

h3 {
  color: rgb(2, 2, 244);
}

span {
  color: rgb(241, 2, 2);
}

form, h2, label, input, select, .plans, .terms {
    padding-left: 25px;
    padding-right: 25px;
}


label {
    color: rgb(255, 0, 170);
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #ccc;
    background: rgba(247, 241, 241, 0.996);

}

.family-section {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.family-box {
  flex: 1;
  background: #f5f5f5;
  padding: 10px;
  
}

.inline label {
  color: rgb(122, 8, 228);
}

.inline {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.plans {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.plan-box {
    flex: 1;
    background: #d8d5d5;
    padding: 15px;
    text-align: center;
}

.terms {
    margin-top: 20px;
    display: flex;
    background: #c9c4c4;
    margin-left: -25px;
    margin-right: -25px;
    padding: 15px 25px;
    border-radius: 0;
}


.terms .left {
    flex: 2;
}

.terms .right {
    flex: 1;
}

/* RESPONSIVE */
@media (max-width: 700px) {
    .plans,
    .terms {
        flex-direction: column;
    }
}
