body {
  font-family: cursive, sans-serif;
  background-color: #f7fafd;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 850px;
  margin: 40px auto;
  background: linear-gradient(
    rgba(169, 217, 202, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  padding: 35px 45px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  border: 1px solid #585b60;
}

h2 {
  text-align: center;
  background: #0b3c6d;
  color: #d4e1ed;
  margin-bottom: 25px;
}

h3 {
  background: #247dd6;
  color: #d4e1ed;
  padding-left: 10px;
  margin-top: 30px;
  border-bottom: 2px solid #dce6f3;
  border-radius: 10px;
  padding-bottom: 6px;
}

/* General layout */
.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.gap {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.half-width {
  flex: 1;
}

label {
  font-weight: 600;
  color: #222;
  display: block;
  margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #344962;
  font-size: 14px;
  box-sizing: border-box;
  background: #ffffff;
}

.radio-group {
  display: flex;
  gap: 15px;
  align-items: center;
}

.radio-group label {
  font-weight: normal;
}

.gender {
  display: flex;
  flex-direction: column;
}

.plan-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.plan {
  background-color: #eaeff6;
  border: 1px solid #bcd0f7;
  border-radius: 8px;
  padding: 15px;
  width: 45%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #003366;
}
.plan:hover {
  background-color: #c5dbf4;
  color: #ffffff;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(37, 37, 37, 0.3);
}
.plan p {
  margin: 15px 0 0;
  font-size: 14px;
  color: #333;
}

.terms {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.signature input {
  display: block;
  margin-bottom: 8px;
  padding: 6px;
  width: 200px;
  border: 1px solid #444242;
  border-radius: 6px;
}

button {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  background-color: #004085;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #4184cb;
}

button:active {
  transform: scale(0.97);
}
